# Ansible
*.retry
inventory/group_vars/vault.yml
vault_password_file
*.vault

# Credentials & secrets
*.pem
*.key
*.crt
secrets.yml
passwords.txt

# Logs
*.log
/var/log/

# Backup archives
*.tar.gz
*.zip
*.bak

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
