- name: User Management
  hosts: all
  become: yes
  tasks:
    - name: create user
      user:
        name: Mohammed
        state: present

   - name: set password policy
     command: chage -M 90 Mohammed 

   - name: Install nginx
     yum: 
       name: nginx
       state: present

   - name: start nginx
     service:
       name: nginx
       state: started
       enabled: yes

   - name: deploy Conf
     template:
        src: nginx.conf.j2
        dest: /etc/nginx/nginx.conf
     notify: restart nginx


    handlers: 
     - name: restart nginx
       service: 
         name: nginx
         state: restarted


